
<div fxLayout="column" fxLayoutAlign="center center" class="footer-container p-5">
  <app-logo [logoType]="'logo-full'" [logoHeight]="'150px'"></app-logo>
  <div fxLayout="row" fxLayoutAlign="center start" class="mt-5">
    <div class="footer-address col-6">
      <h4>آدرس ما</h4>
      <p>Unit 23, Surrey Quays Shopping Centre, Redriff Rd, London SE16 7LL, United Kingdom</p>
    </div>
    <app-map fxLayout="row" fxLayoutAlign="center center" class="footer-map col-6" [hSize]="'250'" [wSize]="'300'"></app-map>
  </div>
</div>
